{% extends 'base.html.twig' %}

{% block title %}Hello DownloadFileController!{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-content collapse show">
            <div class="card-body">

                {% if (fileUploaded) %}
                    <p class="alert-success">File downloaded</p>
                {% endif %}

                {% form_theme form 'bootstrap_5_layout.html.twig' %}
                {{ form_start(form, {
                    'method': 'POST',
                }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
